<?xml version="1.0" encoding="UTF-8"?>
<botConf>
    <botinfo name="BotName" password="********" />
    <admin mask="Pseudoname!~realname@host"  level="10"/>
    <module name="Youtube" activated="true">
      <call>youtu</call>
    </module>
    <module name="Dictionary" activated="true">
      <call>!dictionary</call>
      <call>!dict</call>
      <call>!dico</call>
    </module>
    <module name="Horoscope" activated="true">
      <call>!horoscope</call>
    </module>
    <module name="Help" activated="true">
      <call>!help</call>
    </module>
    <module name="Love" activated="true">
      <call>!love</call>
    </module>
    <module name="Oracle" activated="true">
      <call>!oracle</call>
    </module>
    <module name="Ko" activated="true">
      <call>!ko</call>
    </module>
    <module name="Cafe" activated="true">
      <call>!cafe</call>
    </module>
    <module name="Amour" activated="true">
      <call>!amour</call>
    </module>
    <module name="Biere" activated="true">
      <call>!biere</call>
    </module>
    <module name="Soda" activated="true">
      <call>!soda</call>
    </module>
    <module name="Compliment" activated="true">
      <call>!compliment</call>
    </module>
    <module name="Clope" activated="true">
      <call>!clope</call>
    </module>
    <module name="Fesse" activated="true">
      <call>!fesse</call>
    </module>
    <module name="Baffe" activated="true">
      <call>!baffe</call>
    </module>
    <module name="The" activated="true">
      <call>!the</call>
    </module>
    <module name="Chocolat" activated="true">
      <call>!chocolat</call>
    </module>
    <module name="Calin" activated="true">
      <call>!calin</call>
    </module>

  <server name="Log name" url="irc.url.com" port="6667">
    <botinfo name="BotName" password="********" />
      <admin mask="Pseudoname!~realname@host"  level="5"/>
    <salon name="#channel">
      <admin mask="Pseudoname!~realname@host"  level="2"/>
      <module name="Youtube" activated="false" />
    </salon>
  </server>
</botConf>
